# Logs
logs
*.log
npm-debug.log*

# Dependencias (IMPORTANTE)
node_modules
.pnp
.pnp.js

# Construcción (IMPORTANTE)
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Variables de entorno (Seguridad)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local