html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #050510;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    touch-action: none;
}

* {
    box-sizing: border-box;
}
